<br>

<h1>Create Article</h1>
<form method="POST" action="/articles">
    Input Article Information Here:<br>
    Article Title: <input id="title" type="text" name="title"><br>
    Article Content: <input id="content" type="text" name="content"><br>
    <input type="submit" value="Submit">
</form>