 Title:<%= @article.title %><br>
 Content:<%= @article.content %><br>

<form method="post" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
</form>